.container {
    border-bottom: 3px solid #187baf;
    display: flex;
    h1{
        color: #187baf;
    }
    .products {
        margin: 30px 0;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

        td {
            border-bottom: 1px solid rgb(223, 223, 223);
            padding: 7px;
         }

        .header{
            color: #187baf;
            .trash-icon{
                float: right;
                padding-right: 10px;
            }
            .img{
                display: block;
                height: 18vmin;
                padding: 10px;
                margin: 0 auto;
            }

            .name{
                margin: 10px;
            }

            .price{
                display: block;
                float: left;
                color:black;
                display: flex;
            }

            .price::after {
                content: "per stuk / exct. btw";
                color: lightgray;
                position: absolute;
                margin-top: 20px;
                font-size: small;
            }

            hr {
                margin-top: 60px;
                border: 0;
                border-top: 1px solid #ccc;
            }
        }

        .cell-img {
            margin: 0 1px;
            height: 3vmin;
        }

    }

    .list {
        display: flex;
        flex-direction: column;
        width: 300px;//when drop all items - stick to this width.
        text-align:left;
        padding: 10px;

        .title{
            margin: 14px;
        }

        .checkboxItem {
            display: flex;
            margin: 12px;
        }

        .checkboxText{
            color: rgb(56, 56, 56);
            margin-left: 6px;
        }
    }
}

body {
    padding: 0;
    margin: 3vh 10vw;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
